.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  width: 100%;
  background: var(--background-hero-footer-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-bg-mobile.jpg);
    @include retina {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/hero-bg-mobile-2x.jpg);
    }
    @include tablet {
      max-width: 100%;
      padding-top: 118px;
      padding-bottom: 118px;
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/hero-bg-tablet.jpg);
      @include retina {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../img/hero-bg-tablet-2x.jpg);
      }
    }
    @include desktop {
      max-width: 1600px;
      padding-top: 200px;
      padding-bottom: 200px;
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/hero-bg-desktop.jpg);
      @include retina {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../img/hero-bg-desktop-2x.jpg);
      }
    }
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  @include mobile {
    max-width: 100%;
  }
  @include tablet {
    max-width: 100%;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero-bg-tablet.jpg);
  }
  @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero-bg-desktop.jpg);
  }
}
.caption {
  text-transform: uppercase;
  font-weight: 900;
  color: var(--thirst-text-color);
  letter-spacing: 0.06em;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
  @include mobile {
    font-size: 26px;
    line-height: 42px;
    width: 360px;
  }
  @include desktop{
    font-size: 44px;
  line-height: 1.36;
  width: 696px;
  }
}
.container__hero {
  text-align: center;
}
