.main {
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background: var(--background-hero-footer-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-bg.jpg);
  max-width: 1600px;
  margin: auto;
}
.caption {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--thirst-text-color);
  letter-spacing: 0.06em;
  width: 696px;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}
.container__hero {
  text-align: center;
}