.occupation {
}
.occupation__caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--first-background-color);
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.occupation__list {
  list-style-type: none;
  display: flex;
  column-gap: 30px;
}
.occupation__item {
  position: relative;
}
.what__text {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  color: var(--thirst-text-color);
  height: 70px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.what__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--thirst-text-color);
  letter-spacing: 0.03em;
}
