:root {
  --first-text-color: #2196f3;
  --second-text-color: #757575;
  --thirst-text-color: #ffffff;
  --first-background-color: #212121;
  --second-background-color: #f5f4fa;
  --background-hero-footer-color: #2f303a;
  --Roboto:"Roboto", sans-serif;
  --Raleway:"Raleway", sans-serif;
}
